<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="TTUSER" value="GGERTSMAN"/>
  <add key="TTPASSWORD" value="gvg737ch"/>
  <add key="UseTTImpliedEngine" value="false"/>
  <add key="InstrumentThreadPoolSize" value="4"/>

  <add key="Exchange" value="CME" />
  <add key="OrderGateway" value="CME-A" />
  <add key="PriceGateway" value="CME-A" />

  <add key="InstrumentsFile" value="tsys.txt" />
</appSettings>